@import url("https://fonts.googleapis.com/css2?family=Bonbon&family=Creepster&family=Poppins&display=swap");

html {
  box-sizing: border-box;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

p,
li {
  font-family: "Poppins", sans-serif;
}

.header {
  background: rgb(247, 86, 192);
  background: linear-gradient(180deg, rgba(247, 86, 192, 1) 0%, rgba(129, 0, 0, 1) 51%, rgba(111, 0, 0, 1) 100%);
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  font-family: "Bonbon", cursive;
  color: white;
}

.header img {
  height: 70px;
  margin-right: 2rem;
  float: right;
}

.k-dialog-content img {
  display: block;
  margin: 0 auto;
}

form {
}
form input {
  width: 90%; /* This is a hack 🙃 */
  margin: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}
.card {
  width: 300px;
  height: 300px;
  padding: 30px;
  text-align: center;
}
.card p {
  display: inline-block;
  padding: 0.5rem;
}
.card img {
  height: 100%;
  width: 100%;
  border: 1px solid #000;
}
.card img {
  cursor: pointer;
}

.horror-mode, .myers-mode {
  height: 250vh;
}

.horror-mode {
  transition: all 3s ease;
  background-color: #000;
}
.horror-mode * {
  transition: all 3s ease;
}

.horror-mode .header {
  background: rgb(29, 0, 0);
  background: radial-gradient(circle, rgba(29, 0, 0, 1) 0%, rgba(68, 0, 0, 1) 52%, rgba(0, 0, 0, 1) 100%);
}

.horror-mode h1 {
  color: red;
  font-family: "Creepster", cursive;
}

.horror-mode p {
  color: red;
  font-family: "Creepster", cursive;
}

.myers {
  position: absolute;
  transition: all 2s ease 0s;
  transform: rotate(-20deg);
  bottom: -550px;
  right: -560px;
}
.myers-mode .myers {
  bottom: -100px;
  right: -75px;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}